.signUp {
    display: flex; 
    flex-direction: column; 
    justify-content: center; /* Vertically center children */
    height: 100vh;
    text-align: center;
    
}


.userSignUp {
    color: var(--text-color-1);
    font-size: 2rem;
}

.input {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-bottom: 0.6rem;
}

.inputField {
    border: none; 
    background-color: #EFE7DA;
    border-radius: 1rem;
    width: 30rem;
    padding: 0.8rem;
    margin-top: 0.8rem;
    box-sizing: border-box;
    color: var(--text-color-1);
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;

}

.inputField:focus {
    outline: none;
}

.inputField::placeholder {
    color: var(--text-color-1);
    font-family:'Times New Roman', Times, serif;
}

.signUpButton {
    background-color: transparent; 
    font-family:'Times New Roman', Times, serif;
    border: 1px solid var(--text-color-1);
    color: var(--text-color-1);
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    width: 300px;
    margin-top: 1rem;
}

.signUpButton:hover {
    transform: scale(1.02);
}

.signInLink {
    color: var(--text-color-1);
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.here {
    color: var(--text-color-1); 

}

.alertMessage, .errorMessage {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f8d7da; /* Light red for error */
    color: #721c24; /* Dark red text */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Make sure it's above other content */
}

.alertMessage {
    background-color: #d4edda; /* Light green for success */
    color: #155724; /* Dark green text */
}

