.home-container {
   display: flex;
   margin: 0;
   width: 100%;
   
}

.intro-container {
    width: 60%;
    float: left;
    padding-left: 4rem;
   padding-right: 4rem;
   background-color: var(--bg-color-1);
}

.user-container {
    width: 40%;
    float: right; 
    background-color: var(--light-color);
    /* border: 1px solid black; */
}