:root {
  --bg-color-1: #EFE7DA;
  --bg-color-2: #E1DACA;
  --text-color-1: #B29079;
  --dark-color: #C1B6A4;
  --light-color: #F6F5EC;
  --comp-green: #89A094;
  --available: #A55252;
  --not-available: #89A094;
}



body {
  background: var(--light-color);
  margin: 0;
  padding: 25px;
  /* height: 100vh; */
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.header {
  
  color: var(--text-color-1);
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  padding-left: 50px;
  margin: 0;
  display:flex; 
  
}

.header h1 {
  margin: 0;
}

p {
  font-size: 1.2em;
  font-family: sans-serif;
  margin: 0;
}

